// Colors
$color__primary: var(--primary);
$color__primary-contrast: var(--primary-contrast);
$color__primary-dark: var(--primary-dark);
$color__primary-dark-contrast: var(--primary-dark-contrast);
$color__secondary: var(--secondary);
$color__secondary-contrast: var(--secondary-contrast);
$color__secondary-dark: var(--secondary-dark);
$color__accent: var(--accent);
$color__accent-contrast: var(--accent-contrast);
$color__accent-dark: var(--accent-dark);
$color__complementary: var(--complementary);
$color__complementary-contrast: var(--complementary-contrast);
$color__complementary-dark: var(--complementary-dark);
$color__success: #00a658;
$color__warning: #ff5c00;
$color__error: #cf0019;
$color__bg-body: #f8f7f6;
$color__dark: #595148;

// Grayscale
$color__black: #312C27;
$color__gray-33: #555;
$color__gray-40: #666;
$color__gray-46: #747474;
$color__gray-47: #777;
$color__gray-58: #949494;
$color__gray-60: #999;
$color__gray-67: #aaa;
$color__gray-80: #ccc;
$color__gray-87: #ddd;
$color__gray-93: #ececec;
$color__gray-95: #f3f3f3;
$color__white: #fff;

//Applications
$color__headings: $color__dark;
$color__main-text: $color__black;
$color__secondary-text: $color__gray-46;
$color__buttons: $color__accent;
$color__buttons-contrast: $color__accent-contrast;
$color__buttons-dark: $color__accent-dark;
$color__icons: $color__primary;
$color__link: $color__accent;
$color__link-dark: $color__accent-dark;
$color__menu-drawer: $color__white;
$color__hr: $color__gray-80;
$color__light-bg: $color__gray-95;
$color__disabled: $color__gray-58;
$color__placeholder: $color__gray-46;
$color__field-border: $color__gray-58;
