@use 'sass:math';

@function rem($pixels, $base: 16) {
    @return math.div($pixels, $base) * 1rem;
}

$font__body: "Open Sans", sans-serif;
$font__headings: "Noto Serif", serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;

$font__xxs-size: rem(11.2);
$font__xs-size: rem(12);
$font__sm-size: rem(15);
$font__base-size: rem(16);
$font__lg-size: rem(18);
$font__xl-size: rem(20);
$font__xxl-size: rem(22);

$font__base-line-height: 1.5;

$font__h1-sm-size: rem(35);
$font__h1-base-size: rem(45);

$font__h2-sm-size: rem(30);
$font__h2-base-size: rem(35);

$font__h3-sm-size: rem(25);
$font__h3-base-size: rem(30);

$font__h4-sm-size: rem(20);
$font__h4-base-size: rem(25);

$font__h5-sm-size: rem(18);
$font__h5-base-size: rem(22);

$font__h6-sm-size: rem(16);
$font__h6-base-size: rem(18);

$font__headings-line-height: 1.2;
$font__pre-base-line-height: 1.6;
