.accordion {
    &__container {
        background-color: $color__white;
        border: 1px solid $color__hr;
        margin-bottom: 1rem;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__trigger {
        background: none;
        color: $color__black;
        font-size: 1.125rem;
        outline: none;
        padding: 30px 70px 30px 30px;
        position: relative;
        text-align: left;
        text-transform: none;
        transition: 0.4s;
        width: 100%;

        &:hover,
        &:active,
        &:focus {
            background-color: $color__gray-95 !important;
            color: $color__black !important;
            outline: 1px dashed Highlight;
        }
    }

    &__title {
        display: block;
        padding-bottom: 6px;
        position: relative;
        width: 100%;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $color__accent;
            width: 25px;
            height: 6px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        color: $color__accent;
        border: 1px solid $color__hr;
        border-radius: 50%;
        height: 34px;
        justify-content: center;
        pointer-events: none;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s;
        width: 34px;

        .accordion__trigger.expanded & {
            transform: translateY(-50%) rotate(-180deg);
        }
    }

    &__panel {
        max-height: 0;
        overflow: hidden;
        padding: 0 30px;
        transition: max-height 0.4s ease-out;
    }
}
