.language {
    display: inline-flex;
    align-items: center;
    background-color: $color__primary;
    border-radius: 20px;
    color: $color__primary-contrast;
    font-family: $font__body;
    font-size: $font__xs-size;
    font-weight: 600;
    line-height: 1;
    padding: 5px 10px;
    vertical-align: top;
    height: 22px;
    flex-shrink: 0;
}
