.title,
.block-pageTitle {
    display: inline-block;
    border-radius: 5px 0 0 5px;
    margin-bottom: 1.875rem !important;
    position: relative;

    &::before {
        display: block;
        content: "";
        background-color: $color__accent;
        height: 8px;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 45px;
    }

    .title {
        margin-bottom: 0 !important;
        padding-left: 0;

        &::before {
            content: none;
        }
    }

    .slick-slide & {
        &::before {
            content: none;
        }
    }

    &.has-background {
        padding-right: 10px;
    }
}

.title {
    padding-bottom: 0.5rem;
}
