.image-hover-text {
    position: relative;
    overflow: hidden;
    width: 100%;
    gap: 0 !important;

    @media (min-width: $lg) {
        grid-column-end: span 6 !important;
        grid-column-start: auto !important;
    }

    &:hover {
        .block-html {
            background-color: color-mix(in srgb, $color__primary 95%, transparent);
            bottom: 0 !important;
            height: 100%;

            &::before {
                background-color: rgba(#000, 0.03);
            }

            .heading {
                background-color: transparent;
            }

            p {
                opacity: 1;
            }
        }
    }

    .block-asset {
        margin: 0 !important;
        font-size: 0;

        .asset {
            display: block;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 300px !important;

            @media (min-width: $lg) {
                height: 400px !important;
            }
        }
    }

    .block-html {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin: 0 !important;
        padding: 30px 90px 30px 30px;
        position: absolute;
        background-color: transparent;
        //background-blend-mode: multiply;
        bottom: -100%;
        color: $color__primary-contrast;
        left: 0;
        height: 50%;
        width: 100%;
        transition: all 0.5s ease-in-out;

        @media (min-width: $sm) {
            padding: 30px 30% 30px 30px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: transparent;
            //background-blend-mode: multiply;
            mix-blend-mode: multiply;
            mask: url("../img/center-for-mason-icon.svg") center / cover no-repeat;
            -webkit-mask: url("../img/center-for-mason-icon.svg") center / cover no-repeat;
            transition: all 0.5s ease-in-out;
            z-index: 0;
        }

        &:last-child {
            transition: all 0.6s ease-in-out;
        }

        .heading {
            display: inline-block;
            background-color: color-mix(in srgb, $color__primary 95%, transparent);
            border-radius: 5px;
            color: $color__primary-contrast;
            font-family: $font__body;
            font-size: $font__h4-base-size;
            font-weight: 500;
            margin-bottom: 10px;
            margin-left: -20px;
            padding: 20px;
            transition: background-color 0.5s ease-in-out;
            z-index: 1;
        }

        p {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            z-index: 1;
        }

        p:last-child {
            margin-bottom: 0;
        }

        &.read-more {
            display: flex;
            background-color: transparent !important    ;
            justify-content: stretch;
            align-items: stretch;
            padding: 0;

            &::before {
                content: none;
            }

            p {
                display: flex;
                height: 100%;
                width: 100%;
            }

            a {
                display: flex;
                color: $color__primary-contrast;
                text-decoration: none;
                justify-content: flex-end;
                align-items: flex-end;
                width: 100%;
                height: 100%;
                padding-right: 45px;
                z-index: 10;
                padding-bottom: 41px;
                font-size: 1.2rem;

                &::before {
                    @include font-awesome;
                    content: "\f061";
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 44px;
                    height: 44px;
                    border: 1px solid $color__primary-contrast;
                    border-radius: 50%;
                    position: absolute;
                    z-index: -1;
                    right: 30px;
                    bottom: 30px;
                }
            }
        }
    }

    &.secondary {
        &:hover {
            .block-html {
                background-color: color-mix(in srgb, $color__secondary 95%, transparent);

                .heading {
                    background-color: transparent;
                }
            }
        }

        .block-html {
            color: $color__secondary-contrast;

            .heading {
                background-color: $color__secondary;
                color: $color__secondary-contrast;
            }

            &.read-more {
                a {
                    color: $color__secondary-contrast;

                    &::before {
                        border-color: $color__secondary-contrast;
                    }
                }
            }
        }
    }

    &.accent {
        &:hover {
            .block-html {
                background-color: color-mix(in srgb, $color__accent 95%, transparent);

                .heading {
                    background-color: transparent;
                }
            }
        }

        .block-html {
            color: $color__accent-contrast;

            .heading {
                background-color: $color__accent;
                color: $color__accent-contrast;
            }

            &.read-more {
                a {
                    color: $color__accent-contrast;

                    &::before {
                        border-color: $color__accent-contrast;
                    }
                }
            }
        }
    }

    &.complementary {
        &:hover {
            .block-html {
                background-color: color-mix(in srgb, $color__complementary 95%, transparent);

                .heading {
                    background-color: transparent;
                }
            }
        }

        .block-html {
            color: $color__complementary-contrast;

            .heading {
                background-color: $color__complementary;
                color: $color__complementary-contrast;
            }

            &.read-more {
                a {
                    color: $color__complementary-contrast;

                    &::before {
                        border-color: $color__complementary-contrast;
                    }
                }
            }
        }
    }
}
