.main-footer {
    display: flex;
    background-color: $color__primary;
    clear: both;
    color: $color__primary-contrast;
    flex-direction: column;
    font-size: 0.875rem;

    &.has-contact-info {
        margin-top: 40px;
    }

    .footer-contact-info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .contact_info {
            display: flex;

            &::before {
                @include font-awesome;
                display: inline-flex;
                border: 1px solid $color__primary-contrast;
                border-radius: 50%;
                font-weight: 600;
                font-size: $font__sm-size;
                height: 30px;
                justify-content: center;
                margin-right: 10px;
                align-items: center;
                width: 30px;
            }
        }

        .contact_info_phone::before {
            content: "\f879";
        }

        .contact_info_email::before {
            content: "\f0e0";
        }

        .contact_info_location::before {
            content: "\f3c5";
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 50px;
        background-color: $color__primary;
        padding: 25px 0;

        @media (min-width: $lg) {
            padding: 37px 0;
        }
    }

    &__top-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-evenly;

        @media (min-width: $lg) {
            gap: 60px;
        }

        @media (min-width: $xl) {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
    }

    &__col {
        position: relative;
        min-width: 250px;

        @media (min-width: $lg) {
            flex-grow: 1;
            max-width: 30%;
            min-width: 0;
        }
    }

    &__col1 {
        max-width: 150px;
        min-width: 0;
    }

    &__col2 {
        text-align: center;
        @media (min-width: $md) {
            text-align: left;
        }
    }

    &__col3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        width: 100%;

        @media (min-width: $lg) {
            align-items: flex-start;
            justify-content: flex-start;
            width: auto;
        }
    }

    &__social-network {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        gap: 20px;
        justify-content: flex-start;

        a {
            display: flex;
            align-items: center;
            border: 1px solid $color__primary-contrast;
            border-radius: 50%;
            height: 54px;
            justify-content: center;
            text-decoration: none;
            width: 54px;
        }
    }

    &__bottom {
        background-color: $color__primary-dark;
        color: $color__primary-dark-contrast;
        padding: 25px 0;

        @media (min-width: $lg) {
            padding: 12px 0;
        }
    }

    &__bottom-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        text-align: center;

        @media (min-width: $lg) {
            flex-direction: row;
            gap: 30px;
            text-align: left;
        }

        p {
            margin-bottom: 0;
        }

        &.has-links {
            justify-content: space-between;
        }

        a {
            color: $color__primary-contrast;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__links {
        display: flex;
        gap: 40px;
    }

    a {
        color: $color__primary-contrast;
        display: inline-flex;
        text-decoration: underline;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    .btn--secondary {
        border-color: $color__primary-contrast;
        color: $color__primary-contrast;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            background-color: transparent;
            color: $color__primary-contrast;
        }
    }

    &__logo-link {
        display: inline-block;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color__primary-contrast;
    }
}
