.carousel-block {
    margin: 0 !important;
    padding-left: 45px;
    padding-right: 45px;

    .slick-slider {
        padding: 3rem 0;

        @media(min-width: $md) {
            padding: 3rem 2rem;
        }
    }

    .slick-slide {
        > div {
            display: flex;
        }

        a {
            color: $color__secondary;
            text-decoration: none;

            .title {
                text-decoration: underline;
            }

            .caption p * {
                font-style: normal;
            }
        }

        .slide-text {
            background-color: $color__primary;
            color: $color__primary-contrast;
            font-style: normal;
            padding: 10px 15px;
            position: relative;
            text-align: left;
            width: 100%;

            .title {
                font-weight: 500;
                margin-bottom: 0 !important;
            }

            .caption {
                font-style: normal;

                p:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .caption-secondary & {
            .slide-text {
                background-color: $color__secondary;
                color: $color__secondary-contrast;
            }
        }

        .caption-accent & {
            .slide-text {
                background-color: $color__accent;
                color: $color__accent-contrast;
            }
        }

        .caption-complementary & {
            .slide-text {
                background-color: $color__complementary;
                color: $color__complementary-contrast;
            }
        }
    }

    .slick-arrow {
        border: 1px solid $color__hr;
        border-radius: 50%;
        height: 40px;
        width: 40px;

        &:hover {
            background-color: $color__buttons;

            .slick-prev-icon,
            .slick-next-icon {
                &::before {
                    color: $color__white;
                }
            }
        }

        &.slick-next {
            padding-left: 3px;
            right: -45px;
        }

        &.slick-prev {
            padding-right: 3px;
            left: -45px;
        }

        .slick-prev-icon,
        .slick-next-icon {
            &::before {
                @include font-awesome;
                color: $color__buttons;
                font-size: 25px;
                line-height: 1;
                opacity: 1;
                transition: color 0.3s ease;
            }
        }

        .slick-prev-icon {
            &::before {
                content: "\f060";
            }
        }

        .slick-next-icon {
            &::before {
                content: "\f061";
            }
        }
    }

    .slick-dots {
        bottom: 0;

        button {
            &:hover {
                background-color: transparent;
            }
        }

        li.slick-active button .slick-dot-icon {
            color: $color__accent;
            opacity: 1;
        }
    }
}
