.resource-grid {
    opacity: 0;
    list-style: none;
    padding-left: 0;
    position: relative;

    .grid-sizer,
    .resource {
        width: 100%;

        @media (min-width: $md) {
            width: 32%;
        }
    }

    .gutter-sizer {
        width: 2%;
    }

    .resource {
        display: flex;
        flex-direction: column;
        box-shadow: inset 0 0 0 1px $color__hr;
        position: absolute;
        margin-bottom: 27px;

        &::before {
            content: none !important;
        }

        &__thumbnail {
            line-height: 1;
            width: 100%;
            z-index: -1;

            img {
                max-height: 324px;
                object-fit: cover;
                width: 100%;
            }
        }

        &__content {
            padding: 15px;

            a {
                display: inline-block;
                font-size: 1.1rem;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            .resource-tags {
                margin-bottom: 5px;
            }
        }

        &__meta {
            padding: 5px 10px;
        }
    }
}
