.main-banner {
    display: flex;
    align-items: stretch;
    color: $color__secondary-contrast;
    position: relative;
    background-color: $color__secondary;
    margin-bottom: 1rem;
    overflow-x: clip;
    overflow-y: clip;

    @media (min-width: $lg) {
        overflow-y: visible;
    }

    @media (max-width: $lg) {
        min-height: 0 !important;
        height: auto !important;
    }

    &__image-wrapper {
        display: none;
        position: absolute;
        bottom: -40px;
        width: 53%;
        left: 30px;
        top: 0;
        z-index: 1;

        @media (min-width: $lg) {
            display: block;
        }

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
        }
    }

    &__image-shape {
        position: absolute;
        width: 90%;
        right: -70px;
        top: 0;
        z-index: 2;
        opacity: 0.3;

        @media (min-width: $lg) {
            left: -70px;
            right: auto;
            width: 58%;
            opacity: 1;
        }
        
        svg {
            max-width: 100%;
            max-height: 100%;
            fill: $color__complementary;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 100%;
        padding: 40px 40px 40px 80px;
        align-items: flex-end;
        text-align: right;
        z-index: 3;

        @media (min-width: $lg) {
            width: 47%;
            margin-left: 53%;
            align-items: flex-start;
            text-align: left;
        }
    }

    &__container {
        display: flex;
        position: relative;
    }

    &__heading {
        color: $color__secondary-contrast;
        line-height: 1.16;
        margin-bottom: 0;
    }

    &__description {
        color: $color__secondary-contrast;
        font-size: $font__xl-size;
        line-height: 1.3;
        margin-bottom: 0;

        @media (min-width: $xl) {
            font-size: $font__xxl-size;
        }
    }

    .button {
        display: inline-block;
    }
}
